<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, user-scalable=no" name="viewport">
	<meta content="Justin Ledoux" name="Author">
	<meta name="description" content="I’m a UI, UX and Front-End Designer & Developer seeking to change the world with my art.">
	<meta name="keywords" content="Justin Ledoux, Web Design, Web Designer, UI, UX, User Interface, User Experience, User Interface Designer, User Experience Designer, User Interface Developer, User Experience Developer">

	<meta property="og:title" content="JustinWEB - UI / UX / Front-End Designer & Developer">
	<meta property="og:url" content="http://www.justinweb.pro">
	<meta property="og:site_name" content="Justin Web">
	<meta property="og:description" content="I’m a UI, UX and Front-End Designer & Developer seeking to change the world with my art.">
	<meta property="og:locale" content="en_US">
	<meta property="og:image" content="{{ baseURL }}images/social/facebook-share.jpg">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="JustinWEB - UI / UX / Front-End Designer & Developer">
	<meta name="twitter:description" content="I’m a UI, UX and Front-End Designer & Developer seeking to change the world with my art.">
	<meta name="twitter:image" content="{{ baseURL }}images/social/twitter-share.jpg">

	<title>Justin Web</title>

	<link rel="apple-touch-icon" sizes="76x76" href="{{ staticResourcesPath }}images/social/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ staticResourcesPath }}images/social/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ staticResourcesPath }}images/social/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="167x167" href="{{ staticResourcesPath }}images/social/apple-touch-icon-167x167.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ staticResourcesPath }}images/social/apple-touch-icon-180x180.png">

	<link rel="icon" type="image/png" sizes="32x32" href="{{ staticResourcesPath }}images/social/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="{{ staticResourcesPath }}images/social/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ staticResourcesPath }}images/social/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ staticResourcesPath }}images/social/favicon-16x16.png">

	<link rel="manifest" href="{{ staticResourcesPath }}images/social/manifest.json">
	<link rel="shortcut icon" href="{{ staticResourcesPath }}images/favicon/favicon.ico">

	<meta name="apple-mobile-web-app-title" content="Justin Web">

	<meta name="msapplication-TileColor" content="#ED4F51"/>
	<meta name="msapplication-square70x70logo" content="{{ staticResourcesPath }}images/social/tiny.png"/>
	<meta name="msapplication-square150x150logo" content="{{ staticResourcesPath }}images/social/square.png"/>
	<meta name="msapplication-wide310x150logo" content="{{ staticResourcesPath }}images/social/wide.png"/>
	<meta name="msapplication-square310x310logo" content="{{ staticResourcesPath }}images/social/large.png"/>
	<meta name="msapplication-config" content="{{ staticResourcesPath }}images/social/browserconfig.xml">

	<link href='//fonts.googleapis.com/css?family=Open+Sans:700,600,400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ staticResourcesPath }}css/main.min.css" media="screen">

	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-40276622-1', 'justinweb.pro');
    ga('send', 'pageview');
  </script>
</head>

<body>
	{{!-- <div class="nav-bar">
		<div class="container">
			{{{_sections.nav}}}

			{{#if isLoggedIn }}
				<a href="/dashboard" class="btn btn--outline btn--outline-white customer-login">Dashboard</a>
			{{else}}
				<a href="/login" class="btn btn--outline btn--outline-white customer-login">Customer Login</a>
			{{/if}}
		</div>
	</div> --}}

	<main>{{{body}}}</main>

	{{{_sections.scriptPre}}}

	{{!--
		<!--[if !IE 8]><!-->
		<script type="text/javascript" src="{{ jqueryPath }}"></script>
		<!--<![endif]-->
		<script type="text/javascript" src="{{ staticResourcesPath }}js/main.min.js"></script>
	--}}
	<script type="text/javascript" src="{{ staticResourcesPath }}js/lib/react.min.js"></script>
	<script type="text/javascript" src="{{ staticResourcesPath }}js/lib/react-dom.min.js"></script>
	<script type="text/javascript" src="{{ staticResourcesPath }}js/main.min.js"></script>

	{{{_sections.scriptPost}}}
</body>
</html>