{{#section "nav"}}
	<button type="button" class="hamburger">Menu</button>
{{/section}}

<header class="header hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<img src="/images/signature.svg" class="hero__logo">
			</div>

			<p class="introduction col-sm-8 col-sm-push-2">
				I’m a <em>UI</em>, <em>UX</em> and <em>Front-End</em> Designer &amp; Developer seeking to change the world with my art.
			</p>
		</div>

		<div class="window">
			<div class="window__title-bar">
				<div class="window__controls">
					<span class="window__controls window__close"></span>
					<span class="window__controls window__minimize"></span>
					<span class="window__controls window__resize"></span>
				</div>

				<p class="window__title">JustinWEB</p>
			</div>

			<div class="window__content-container clearfix">
				<div class="window__gutter"><pre>$</pre></div>

				<div class="window__content"><pre><code>npm start justinweb.js <span class="window__cursor">|</span></code></pre>
				</div>
			</div>
		</div>
	</div>
</header>

<section class="section experiences">
	<div class="container">
		<h1>Experiences</h1>

		<dl class="experiences__list">
			{{#each experiences}}
				<dt>{{ this.position }} <span>// {{ this.location }}</span></dt>
				<dd>
					<small>{{ this.timeframe }}</small>
					{{ this.description }}
				</dd>
			{{/each}}
		</dl>
	</div>
</section>

<section class="section technologies">
	<div class="container">
		<h1>Technologies</h1>

		<div class="window">
			<div class="window__title-bar">
				<div class="window__controls">
					<span class="window__controls window__close"></span>
					<span class="window__controls window__minimize"></span>
					<span class="window__controls window__resize"></span>
				</div>

				<p class="window__title">technologies.js</p>
			</div>

			<div class="window__content-container clearfix">
				<div class="window__gutter">
					<pre>
						{{#for technologies.lineNumber}}
							{{~ increment this 1}}
						{{/for~}}
					</pre>
				</div>

				<div class="window__content">
					<pre><code><span class="code--blue">var</span> techs <span class="code--pink">=</span> [
						{{#each technologies.technologies~}}
							&nbsp;&nbsp;<span class="code--yellow">"{{ this }}"</span>,
						{{/each~}}
						];</code></pre>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section competencies">
	<div class="container">
		<h1>Competencies</h1>

		<div class="window">
			<div class="window__title-bar">
				<div class="window__controls">
					<span class="window__controls window__close"></span>
					<span class="window__controls window__minimize"></span>
					<span class="window__controls window__resize"></span>
				</div>

				<p class="window__title">competencies.html</p>
			</div>

			<div class="window__content-container clearfix">
				<div class="window__gutter">
					<pre>
						{{#for competencies.lineNumber}}
							{{~ increment this 1}}
						{{/for~}}
					</pre>
				</div>

				<div class="window__content">
					<pre><code>&lt;<span class="code--pink">ul</span>&gt;
						{{#each competencies.competencies~}}
							&nbsp;&nbsp;&lt;<span class="code--pink">li</span>&gt;{{ this }}&lt;/<span class="code--pink">li</span>&gt;
						{{/each~}}
						&lt;/<span class="code--pink">ul</span>&gt;</code></pre>
				</div>
			</div>
		</div>
	</div>
</section>