{{#section "nav"}}
	<button type="button" class="hamburger" id="hamburger">Menu</button>
	<span class="nav-bar__separator"></span>
	<h1 class="nav-bar__title">{{ pageTitle }}</h1>
{{/section}}

<div class="column-1">
	<ul class="list list--single-line">
		{{#each projects }}
			<li>
				<a href="/projects/{{ this.id }}">
					{{ this.name }}
				</a>
			</li>
		{{/each}}
	</ul>
</div>

<div class="column-2">
	<div class="dashboard-content"></div>
</div>

{{#section "templates"}}
	<script id="project-view-template" type="text/x-handlebars-template">
		\{{#each projects}}
			\{{#if this.images}}
				\{{#each this.images}}
					<img src="\{{ this.image }}">
				\{{/each}}
			\{{/else}}
				<a href="\{{ this.link }}">\{{ this.link }}</a>
			\{{/if}}
		\{{/each}}
	</script>
{{/section}}